ul{
    /* to hide the bullet style  */
    list-style: none;

}

ul li{
    font-size:20px;
    border:0px solid orange;
    width:230px;
    height:45px;
    line-height: 45px;
    text-align:center;
    background:#003322;
    color:#eee;
    /* margin-bottom:12px; */
    margin-right:5px;
    border-radius:50px;
    /* to arrange to items in row  */
    float:left;
}
ul li a{
    color:#fff;
    /* remove underline of anchor tag  */
    text-decoration: none;
    /* to cover the entire block/area  */
    display:block; 

}
ul li:hover{
    background:#003366;
    box-shadow: 2px 2px 10px orange;
}
