/* select all the tags  */
*{
padding:0px;
margin:0px;
}

#parent
{
    height:200px;
    width:150px;
    background:#000;
    /* position: absolute; */
    position:fixed;
    transition:all 0.5s ease-in;
    /* top:0px; */
    bottom:-80px;
    right:0px;

    /* to set the axis of the elements */
    z-index:0;
    /* set visibility : 0 = None, 1 = 100% visible  */
    opacity: 0.8;
}
#parent:hover{
    bottom:0px;
}
#parent h1 {
    color:orange;
    opacity:1;
    text-align: center;
    line-height: 200px;
    border:0px solid red;
    box-shadow:3px 3px 8px #000;
}

#d1{
    border:1px solid red;
    position:relative;
    top:60px;
    height:300px;
    background:green;
    /* left:90px; */
}

#d1 #child{
    background:blue;
    height:60px;
    width:100px;
    text-align:center;
    position:absolute;
    top:50%;
    left:50%;
    z-index: 1;
    opacity: 0.8;
    color:#fff;
    font-size:20px;
    text-shadow: 1px 1px 3px orange;
    transform: translate(-50%, -50%) skew(-25deg);
}
#d1 #child2{
    height:100px;
    width:200px;
    background:orange;
    position:absolute;
    top:29%;
    left:35%;
    opacity: 0.6;

}